body{
  background-color: black;
  text-align: center;
}

.head1{
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.head2{
  font-family:Verdana;
  font-weight: 300;
  font-size: 42px;
  color:white;
}

h3{
  color: Aquamarine;
  font-size: 16px;
}
